/**
 * CSS 原生变量（--变量名）若要全局生效，必须定义在 :root 选择器内
 * 生成的CSS文件中包含变量声明 (--cp-primary: #16c2a3;)。
 * 浏览器会将这些变量存储在 :root 元素的样式表中，其他元素可以通过 var() 函数来引用这些变量。
 */
:root {
  // :root 是全局变量
  --cp-primary: #16c2a3;
  --cp-plain: #eaf8f6;
  --cp-orange: #fca21c;
  --cp-text1: #121826;
  --cp-text2: #3c3e42;
  --cp-text3: #6f6f6f;
  --cp-tag: #848484;
  --cp-dark: #979797;
  --cp-tip: #c3c3c5;
  --cp-disable: #d9dbde;
  --cp-line: #ededed;
  --cp-bg: #f6f7f9;
  --cp-price: #eb5757;
  // 覆盖vant的变量
  --van-primary-color: var(--cp-primary); // 使用 css 变量
}

/*
 * 局部变量 CSS 原生变量：定义在具体选择器内，仅对该选择器及其子元素生效
*/
.footer {
  --footer-color: #ce3149;
  color: var(--cp-primary);
  background-color: #5e7174;
}

/**
 * sass 变量 编译时。在源代码被转换成最终CSS时，变量就会被替换为具体的值。
 */
$global-radius: 8px;

.card {
  background: var(--cp-bg);
  border-radius: $global-radius;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

